body {
    font-size: 13px;
    font-family: 'Verdana';
    color:#666;
    background-color: #83b8dd;
}
a {
    font-size: .9em;
    color: #666;
}

a:hover {
    color: #333;
    text-decoration: none;
}
h1{
    font-size: 1.8em;
    margin: 2% 0;
    color: #ffffff;
}

div.container {
    width: 1200px;
    max-width: 90%;
    margin: 0 auto;
}

/* Стиль формы */

form, div#ad_container {
    width: 45%;

    float: left;

    margin-left: 3%;
    padding: 3%;
    background-color: white;
    border: 2px solid #666666;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
}

fieldset {
    border:none;
    margin: 5% 0;
}
select.form-control {
    font-size: .9em;
}

input[type=checkbox], input[type=radio] {
    margin: 0 2%;
}

label{margin-bottom: 5%; display: inline;}
input, select {margin-top: 2%;}

fieldset.radio label{
    margin-right: 3%;
}
fieldset p { /* Заголовок texarea */
    font-weight: bold;
}

label#checkbox, label#price span { /* без  жиорность шрифта  */
    font-weight: normal;
    font-size:.9em;
    margin-left: 2%;
}

input[name='price']{ /* Уменьшаем поле цена */
    width: 15%;
    margin-left: 1%;
    display: inline;
}


input[type='submit']{
    width: 53%;
    margin: 0 auto;
    display: block;
}

.buttons:hover {
    cursor: pointer;

    color: white;

    background-color: #666666;

}

p#notice{
    font-size: .8em;
    margin: 5% 0 0 27%;
}
 p#warning {
     color:red;
     font-size: 0.9em;
    text-align: center;

 }

/* Таблица */

table {
    width: 500px;
    max-width:90%;
    margin: 2% auto;
    border: 1px solid #cccccc;

}

th {
    text-align: center;
}
tr {
    color:#666;
    text-align: center;
}

.table>tbody>tr>td {
    vertical-align: middle;
    font-size: 1.15em;
}